<section class="header-shop">
    <nav class="nav-shop">
        <div class="container-shop">
            <div class="shop-categories">
                <span>New Arrivals</span>
                <span>Brands</span>
                <span>Clothing</span>
                <span>Footwear</span>
                <span>Acccesories</span>
            </div>
        </div>
    </nav>
</section>

<style>
    .header-shop{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        color: aliceblue;
        padding-bottom: 50px;
        border-top: 10px solid gray;
        border-bottom: 10px solid gray;
    }

    .nav-shop{
        max-width: 1200px;
        margin: 0 auto;
    }

    .container-shop{
        position: fixed;
        background-color: #E0E1DB;
        top: 0;
        left: 0;
        right: 0;
        transition: all 0.3s ease-in-out;
    }

    .nav-shop .container-shop {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;
    }

    .shop-categories{
        color: black;
        font-size: medium;
        padding: 5px;
    }
</style>