<div class="title-container">
    <h1 class="title">{{ section.settings.title }}</h1>
</div>

{% for products in section.settings.feature_collection.products limit: 4 %}
    {% render "products", product: products %}
{% else %}
    {% for item in section.settings.feature_collection.products limit: 4 %}
        {{ 'product-1' |  placeholder_svg_tag }}
    {% endfor %}
{% endfor %}

{% schema %}
{
    "name": "template collection part2",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "feature collection",
            "label": "title"
        },
        {
            "type": "collection",
            "id": "feature_collection",
            "label": "Collection"
        },
        {
            "type": "range",
            "id": "number_of_products_to_show",
            "label": "number of products",
            "default": 4,
            "min": 2,
            "max": 12
        }   
    ]
}
{% endschema %}
