<div class="relative bg-gray-400">
  <div class="mx-auto px-4 sm:px-6">
    <div class="flex justify-center items-center py-9 md:justify-start md:space-x-10">
      <!-- STORE NAME / STORE LOGO -->
      <div class="flex justify-center lg:flex-1 truncate">
        <h1 class="text-8xl font-bold truncate">Jendaya</h1>
      </div>
    </div>
    <div class="flex grow h-screen w-4/12">
        <div class="bg-red"></div>
        <div class="bg-green"></div>
        <div class="bg-yellow"></div>
    </div>
  </div>
</div>