{% comment %} <div class="relative bg-gray-400">
  <div class="mx-auto px-4 sm:px-6">
    <div class="flex justify-center items-center py-9 md:justify-start md:space-x-10">
      <!-- STORE NAME / STORE LOGO -->
      <div class="flex justify-center lg:flex-1 truncate">
        <h1 class="text-8xl font-bold truncate">Jendaya</h1>
      </div>
    </div>

  </div>    

</div>   {% endcomment %}
{% comment %} 
<div class="container max-w-7xl mx-auto">
    <nav class="nav fixed top-0 left-0 right-0 bg-white-900 py-9">
        <div class="nav-container flex justify-center">
            <h1 class="logo text-zinc-50"><a href="/index.html">Jendaya</a></h1>
        </div>
    </nav>
</div>
{% endcomment %}





{% comment %} <nav class="nav" >
  <div class="title-container">
    <h1 class="flex justify-center my-discovery-title text-8xl text-black">
      Title-Title
    </h1>
  </div>
</nav> {% endcomment %}

{% comment %} <div class="flex flex-row gap-x-4 font-mono text-white text-sm font-bold leading-6">
  <div class="w-2/6 h-max rounded-lg flex items-center justify-center bg-fuchsia-500 shadow-lg">01</div>
  <div class="w-2/6 h-max rounded-lg flex items-center justify-center bg-fuchsia-500 shadow-lg">01</div>
  <div class="w-2/6 h-max rounded-lg flex items-center justify-center bg-fuchsia-500 shadow-lg">01</div>
</div> {% endcomment %}

{% comment %} 
<div class="flex flex-col md:flex-row">
  <div class="flex-1 w-full h-1/3 object-fill">
    <img class="h-screen w-max" src="https://cdn.shopify.com/s/files/1/0563/8347/1662/files/tim-mossholder-jo_L74bHjws-unsplash.jpg?v=1716346232" alt="tag">
  </div>
  <div class="flex-1 w-full h-1/3 object-fill">
    <img class="h-screen w-max" src="https://cdn.shopify.com/s/files/1/0563/8347/1662/files/kiko-camaclang-dJT2m7dj3I4-unsplash.jpg?v=1716346232" alt="jj">
  </div>
  <div class="flex-1 w-full h-1/3 object-fill">
    <img class="h-screen w-max" src="https://cdn.shopify.com/s/files/1/0563/8347/1662/files/josh-hild-s52NXbmZfCc-unsplash.jpg?v=1716346511" alt="mm">
  </div>
</div> {% endcomment %}

<nav class="nav" >
  <div class="title-container">
    <h1 class="">
      Title-Title
    </h1>
  </div>
</nav>

<div class="container">
  <div class="item">
    <img class="" src="https://cdn.shopify.com/s/files/1/0563/8347/1662/files/tim-mossholder-jo_L74bHjws-unsplash.jpg?v=1716346232" alt="tag">
  </div>
  <div class="item">
    <img class="" src="https://cdn.shopify.com/s/files/1/0563/8347/1662/files/kiko-camaclang-dJT2m7dj3I4-unsplash.jpg?v=1716346232" alt="jj">
  </div>
  <div class="item">
    <img class="" src="https://cdn.shopify.com/s/files/1/0563/8347/1662/files/josh-hild-s52NXbmZfCc-unsplash.jpg?v=1716346511" alt="mm">
  </div>
</div>

<style>

  .nav{
    background-color: var(--nav-bg);
  }

  .title-container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: black;
    background-color: aquamarine;
    width: 100vw;
    height: 30vh;
  }

  /* nav */
  .container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
  }



  .item{
    flex: 1; /* Makes children grow to fill available space */
    text-align: center;  
    position: relative; /* Needed for hover child element positioning */
  overflow: hidden;
  }

  .item img {
    width: 100%; /* Images fit child element width */
    height: 100%; /* Images fit child element height (optional) */
    object-fit: cover; /* Scale images to cover (optional) */
  }

  .item .hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(139, 0, 0, 0); /* Initial transparent dark red */
  transition: background-color 0.5s ease-in; /* Transition properties */
  opacity: 0; /* Initially hidden */
}

.item:hover .hover-overlay {
  opacity: 0.7; /* Opacity on hover (70% opacity) */
}

  .item:hover {
      opacity: 35;
      background-color: #D9D9D9;
    }

  @media (max-width: 600px) {
    .title-container{
    height: 25vh;
    }

    .container {
      flex-direction: column;
      height: 75vh;
    }

    .item {
      flex: 0; /* Makes children grow to fill available space */
      text-align: center;  
    }

    .item img {
      width: 100%; /* Images fit child element width */
      height: 25vh; /* Images fit child element height */
      object-fit: cover;   
    }

  }
</style>