{% comment %} <div class="relative bg-gray-400">
  <div class="mx-auto px-4 sm:px-6">
    <div class="flex justify-center items-center py-9 md:justify-start md:space-x-10">
      <!-- STORE NAME / STORE LOGO -->
      <div class="flex justify-center lg:flex-1 truncate">
        <h1 class="text-8xl font-bold truncate">Jendaya</h1>
      </div>
    </div>

  </div>    

</div>   {% endcomment %}
{% comment %} 
<div class="container max-w-7xl mx-auto">
    <nav class="nav fixed top-0 left-0 right-0 bg-white-900 py-9">
        <div class="nav-container flex justify-center">
            <h1 class="logo text-zinc-50"><a href="/index.html">Jendaya</a></h1>
        </div>
    </nav>
</div>
{% endcomment %}




<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="https://flowbite.com/" class="flex justify-center items-center space-x-3 rtl:space-x-reverse">
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Jendaya</span>
    </a>
  </div>
</nav>

{% comment %} <div class="flex flex-row gap-x-4 font-mono text-white text-sm font-bold leading-6">
  <div class="w-2/6 h-max rounded-lg flex items-center justify-center bg-fuchsia-500 shadow-lg">01</div>
  <div class="w-2/6 h-max rounded-lg flex items-center justify-center bg-fuchsia-500 shadow-lg">01</div>
  <div class="w-2/6 h-max rounded-lg flex items-center justify-center bg-fuchsia-500 shadow-lg">01</div>
</div> {% endcomment %}

<div class="flex flex-col md:flex-row">
  <div class="flex-1 w-full h-1/3 md:w-4/12 md:h-screen">
    <img src="https://cdn.shopify.com/s/files/1/0563/8347/1662/files/tim-mossholder-jo_L74bHjws-unsplash.jpg?v=1716346232" alt="tag">
  </div>
  <div class="flex-1 w-full h-1/3 md:w-4/12 md:h-screen">
    <img src="https://cdn.shopify.com/s/files/1/0563/8347/1662/files/kiko-camaclang-dJT2m7dj3I4-unsplash.jpg?v=1716346232" alt="jj">
  </div>
  <div class="flex-1 w-full h-1/3 md:w-4/12 md:h-screen">
    <img src="https://cdn.shopify.com/s/files/1/0563/8347/1662/files/josh-hild-s52NXbmZfCc-unsplash.jpg?v=1716346511" alt="mm">
  </div>
</div>