<h1>{{ section.settings.title }}</h1>
<p>{{ section.settings.subtext_title }}</p>


{%  schema  %} 
{
    "name": "Template 404",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Error - 404",
            "label": "Heading for 404 ttle"
        },
        {
            "type": "text",
            "id": "subtext_title",
            "default": "Something went wrong, this url does not exist",
            "label": "Subtext title for 404"
        }
    ]
}
 {% endschema %}