<div class="max-w-md">
    <div class="text-5xl font-bold my-4">{{ section.settings.title }}</div>
    <div class="my-4">
        <p class="text-base md:text-xl leading-normal">{{ section.settings.subtext_title }}</p>
    </div>
    <div class="my-4">
        {% if section.settings.back_btton_url == blank %}
            {%  assign backUrl = shop.secure_url %}
        {% else %}
            {%  assign backUrl = section.settings.back_btton_url %}
        {% endif %}
        <a href="{{ backUrl }}">{{ section.settings.button_label }}</a>
    </div>
</div>


{%  schema  %} 
{
    "name": "Template 404",
    "tag":"section",
    "class": "flex items-center justify-center text-center py-7 h-screen",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Error - 404",
            "label": "Heading for 404 ttle"
        },
        {
            "type": "text",
            "id": "subtext_title",
            "default": "Something went wrong, this url does not exist",
            "label": "Subtext title for 404"
        },
        {
            "type": "text",
            "id": "button_label",
            "default": "Back to homepage",
            "label": "Back to homepage label"
        },
        {
            "type": "url",
            "id": "back_btton_url",
            "default": "",
            "label": "Back button URL"
        }
    ]
}
 {% endschema %}