<section>
    <sectiom>
    <div>
      {% render "header" %}
    </div>

    <div>
        <div>
            {% render "header-shop-categories" %}
        </div>
        <div class="checkout-container">
            <div class="grid-container">
                <div class="checkout-display">
                    <h1>Your Cart</h1>
                    <div>

                    </div>
                </div>
                <div class="checkout-details"></div>
            </div>
        </div>
    </div>
</section>

<style>
    .checkout-container{
        padding: 10px;
    }

    .grid-container{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 16px;
    }
    
    .checkout-display{

    }
</style>