{% for block in section.block %}
    {% case block.type %}
        {% when 'article_title' %}
            <h1>{{ article.title }}</h1>
        {% else %}
    {% endcase %}
{% endfor %}


{%  schema  %} 
{
    "name": "Template Article",
    "settings": [
        {
            "type": "checkbox",
            "id": "enable_author",
            "default": true,
            "label": "Display author section"
        },
        {
            "type": "checkbox",
            "id": "enable_published_date",
            "default": true,
            "label": "Display date published"
        }
    ],
    "blocks": [
        {
            "type": "article_title",
            "name": "Title",
            "limit": 1
        },
        {
            "type": "article_author",
            "name": "Author",
            "limit": 2
        },
        {
            "type": "article_published_date",
            "name": "Published date",
            "limit": 2
        },
        {
            "type": "featured_image",
            "name": "Thumbnail",
            "limit": 1
        },
        {
            "type": "article_content",
            "name": "Content",
            "limit": 1
        }
    ]
}
{% endschema %}