<div class="wrapper flex justify-center items-center h-screen">
  <div class="items flex flex-wrap gap-4 perspective-350">
    <div class="item cursor-pointer bg-gray-800 bg-cover bg-center rounded-md hover:bg-inherit hover:filter-none hover:translate-z-10 transition duration-1250 ease-in-out transform filter grayscale brightness-50">
      </div>
    <div class="item cursor-pointer bg-gray-800 bg-cover bg-center rounded-md hover:bg-inherit hover:filter-none hover:translate-z-10 transition duration-1250 ease-in-out transform filter grayscale brightness-50">
      </div>
    </div>
</div>