{% paginate collection.products by 1 %}
    {% for product in collection.products %}
        {% if product.featured_image %}
            <img src="{{ product.featured_image.src |  image_url: width: "100px"}}" alt="{{ product.featured_image.alt }}">
        {% endif %}
        <a href="{{ product.url }}">
            <h1>{{ product.title }}</h1>
        </a>
    {% else %}
        <p>no items available</p>
    {% endfor %}
    {% render "pagination", "pagination": paginate %}
{% endpaginate %}