<div>
    Title-A
    <a href="{{ pages['M'].url }}"><p>M</p></a>
</div>

<style>
  body {
    margin: 0;
  }

  .nav {
    background-color: var(--nav-bg);
  }

  .title-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: black;
    background-color: #F5F6F0;
    width: 100vw;
    height: 30vh;
  }

  </style>